@font-face {
    font-family: 'GothaPro-Bold';
    src: url('../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
  }
   
@font-face {
    font-family: 'GothamPro-LightItalic';
    src: url('../fonts/GothamPro-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
  }
  
@font-face {
    font-family: 'GothamPro-Light';
    src: url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
  }

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Roboto','GothamPro-Light', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 0 auto;
    width: 1060px;
}

.header {
  background: #27273e;
  position: relative;
  }
  
.header__left, .header__right {
  float: left;
  width: 50%;
  padding-top: 5px;
}

.header__middle {
  float: right;
}

.header__right {
  text-align: right;
  padding-bottom: 15px;
}

.logo, .contacts {
  display:inline-block;
}

.contacts__phone {
  font-family: 'GothaPro-Bold';
  color:white;
  font-weight: bold;
  font-size: 21px;
  text-decoration: none;
}

.contacts__description {
  font-family: 'Open Sans';
  color:rgb(236,30,121,0.7);
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
}

.content {
  float:left;
  width: 900px;
}

.navigation {
  float:left;
  width: 160px;
}

.header__big-image {
  margin: 0 auto;
  width: 1100px;
  height: 367px;
  background: url(/img/content/banner.png) center center no-repeat ;
}

.news__body-avatar-pic {
  border-radius: 50%;
  overflow: hidden;
}

.content__features-title {
  font-size: 49px;
  font-weight: bold;
  font-family: 'GothaPro-Bold';
}

.content__features-item {
  display: inline-block; 
  width: 250px;
  text-align: center;
}

.content__item-background {
  background-image:url("../img/icon/elipse.png"); 
  width: 68px;
  height: 68px;
  text-align: center;
  margin: 0 auto;
} 

.news__body-avatar {
  display: inline-block;
}

.news__body-text {
  display: inline-block;
  width: 600px;
}

.news__list-item {
  list-style: none;
}

.news__list-item {
  width: 1800px;
  border-bottom: 1px solid black;
}

.news__list-item:last-child {
  border-bottom: none;
}